	<div class="page-body cus-page-body" style="padding-left:20px; padding-right:20px;padding-top:20px">

  <h2>Creating a complex dynamic form in Angular</h2>
	<h5>Template driven approach to create dynamic component</h5>
  <p> Check
    <a target="_blank" href="https://medium.com/@codingindepth"> Coding In Depth</a> for more details.
    </p>
	<div class="row">
		<div class="col-md-12">&nbsp;</div>
	</div>

<app-product-feature (parentProductFields)="parentProductFields($event)"></app-product-feature>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div><div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<h5>Parent component</h5>
<pre>
{{productField | json}}
</pre>
	</div>